/* Text styles */
.xr_s0 {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#4D4D4D;background-color:Transparent;letter-spacing:0em;}
.xr_s1 {font-family:Arial;font-weight:normal;font-style:normal;font-size:12px;text-decoration:none;color:#333333;background-color:Transparent;letter-spacing:0em;}
